<dom-module id="int-header">
  <template>
    <style>
      :host {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 60px 0;
        max-width: 800px;
      }

      @media (max-width: 768px) {

        img {
          max-width: 150px;
        }
      }
    </style>

    <a href="/"><img src="/images/home/inverted-symbol.png"></a>
    <h1>Intcreator</h1>
    <h2>My name is Brandon Blatter.  I'm a web developer on the Help team at FamilySearch.  I'm also a student, hacker, musician, and a Mormon.</h2>

  </template>

  <script>
    Polymer({
      is: 'int-header',
    });
  </script>
</dom-module>
