
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/no-ie/no-ie.html">
<link rel="import" href="../data/main.html">
<link rel="import" href="int-navigation.html">
<link rel="import" href="int-header.html">
<link rel="import" href="int-section.html">
<link rel="import" href="int-footer.html">

<dom-module id="int-fade-blocks">
  <template>
    <style>
      :host {
        display: flex;
        justify-content: center;
        padding: 0 30px;
      }

      #container {
        max-width: 1000px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

    </style>

    <div id="container">
      <no-ie></no-ie>
      <int-navigation></int-navigation>
      <int-header></int-header>
      <template is="dom-repeat" items="[[blocks]]">
        <int-section id="[[item.slug]]" data="[[item]]"></int-section>
      </template>
      <int-footer></int-footer>
    </div>

  </template>

  <script>
    Polymer({
      is: 'int-fade-blocks',
      behaviors: [MainData],
      properties: {
        scroll: {
          type: Number,
          value: 0
        },
        height: {
          type: Number,
          value: 0
        },
        toShow: {
          type: Array
        }
      },
      ready: function() {
        console.log("Hello there.  It looks like you're interested in how my site works.  Rest assured, all the code can be found at https://github.com/intcreator/intcreator.github.io for your viewing pleasure.");
        this.blocks = MainData.properties.home.value.blocks;
        _this = this;
        window.onscroll = function() {
          // throttle - only fun if user scrolls more than 50px
          if(window.pageYOffset - this.scroll < 50 && this.scroll - window.pageYOffset < 50) return;
          _this.fadeElements();
        };
        window.onresize = function() {
          // throttle - only fun if user resizes more than 50px
          if(window.innerHeight - this.height < 50 && this.height - window.innerHeight < 50) return;
          _this.fadeElements();
        }
      },
      fadeElements: function(e) {
        // only load DOM elements once
        this.toShow = this.toShow ? this.toShow : document.querySelectorAll('.showOnScroll');
        this.scroll = window.pageYOffset;
        for(var i = 0; i < this.toShow.length; i++) {
          if(window.innerHeight - this.toShow[i].getBoundingClientRect().top - 50 > 0) {
            this.toShow[i].classList.remove('fadeOutDown');
            this.toShow[i].classList.add('fadeInUp');
          } else {
            this.toShow[i].classList.remove('fadeInUp');
            this.toShow[i].classList.add('fadeOutDown');
          }
        }
      }
    });
  </script>
</dom-module>
