<dom-module id="int-content-card">
  <template>
    <style>
      :host {
        width: 100%;
      }

      a, a:visited {
        color: inherit;
      }

      a:hover {
        text-decoration: none;
      }

      h3:hover {
        text-decoration: underline;
      }

      .text-background {
        background-color: #333333;
        padding: 50px;
      }

      .image {
        height: 30vw;
        width: 100%;
        background-position: center;
        background-size: cover;
      }
    </style>

    <a href$="[[data.url]]">
      <div class="image" style$="[[getStyles(data)]]"></div>
      <div class="text-background">
        <h3>[[data.title]]</h3>
        <p>[[data.description]]</p>
      </div>
    </a>

  </template>

  <script>
    Polymer({
      is: 'int-content-card',
      getStyles: function(data) {
        var styles = "background-image: url('" + data.imageUrl + "');";
        if(data.imagePosition === "logo") {
          styles += "background-size: contain;";
          styles += "background-repeat: no-repeat;";
        }
        else styles += "background-position: " + data.imagePosition + ";";
        return styles;
      }
    });

  </script>
</dom-module>
