<dom-module id="int-headline">
  <template>
    <style>
      :host {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 800px;
      }
    </style>

    <h2>[[data.headline]]</h2>
    <p>[[data.details]]</p>

  </template>

  <script>
    Polymer({
      is: 'int-headline',
      ready: function() {
        // console.log(data)
      }
    });
  </script>
</dom-module>
