<link rel="import" href="../bower_components/iron-icons/iron-icons.html">

<dom-module id="int-navigation">
  <template>
    <style>
      :host {
        position: fixed;
        left: 0;
        right: 0;
        min-width: 100%;
        z-index: 10;
      }

      #menu-container {
        position: relative;
        display: flex;
        justify-content: center;
        background: rgba(0, 0, 0, .8);
        border-bottom: 1px solid #BBB;
      }

      ul {
        min-width: 50%;
        display: flex;
        justify-content: space-between;
        font-weight: 200;
        list-style: none;
        margin: 0;

      }

      li {
        display: flex;
        align-items: center;
      }

      a {
        padding: 10px 30px;
        color: white;
      }

      a:visited {
        color: inherit;
      }

      iron-icon {
        display: none;
      }

      @media (max-width: 768px) {
        #menu-container {
          flex-direction: column;
          align-items: flex-end;
          width: 0;
          margin-left: auto;
          border-bottom: none;
          font-size: 2em;
          background: none;
        }

        #menu-container > * {
          flex-shrink: 0;
        }

        ul {
          display: block;
          position: absolute;
          left: 0;
          padding: 0;
          height: 100vh;
          background: rgba(0, 0, 0, .8);
        }

        .open {
          animation-duration: .4s;
          animation-fill-mode: both;
          animation-name: slideInRight;
        }

        @keyframes slideInRight {
          from {
            transform: translate(0, 0);
          }

          to {
            transform: translate(-130px, 0);
          }
        }

        .close {
          animation-duration: .4s;
          animation-fill-mode: both;
          animation-name: slideOutRight;
        }

        @keyframes slideOutRight {
          from {
            transform: translate(-130px, 0);
          }

          to {
            transform: translate(0, 0);
          }
        }

        a {
          padding: 10px 30px 10px 10px;
        }

        iron-icon {
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          height: 45px;
          width: 45px;
          padding: 5px;
          background: rgba(0, 0, 0, .8);
        }

        #menu-screen {
          background: rgba(0, 0, 0, .5);
          width: 100vw;
          height: 100vh;
          position: relative;
          z-index: -1;
        }

        .cover {
          animation-duration: .4s;
          animation-fill-mode: both;
          animation-name: coverFade;
          display: block;
        }

        @keyframes coverFade {
          from {
            display: none;
            opacity: 0;
          }

          to {
            display: block;
            opacity: .5;
          }
        }

        .uncover {
          animation-duration: .4s;
          animation-fill-mode: both;
          animation-name: uncoverFade;
          display: none;
        }

        @keyframes uncoverFade {
          from {
            display: block;
            opacity: .5;
          }

          to {
            display: none;
            opacity: 0;
          }
        }

      }

    </style>

    <div id="menu-container">
      <iron-icon id="menu-icon" icon="icons:menu" on-tap="toggleMenu"></iron-icon>
      <ul id="menu-list">
        <li><a href="/">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="http://brandaemon.com/">Portfolio</a></li>
        <li><a href="../data/brandonblatter.pdf">Résumé</a></li>
      </ul>
    </div>
    <div id="menu-screen" class="uncover" on-tap="toggleMenu"></div>

  </template>

  <script>
    Polymer({
      is: 'int-navigation',
      properties: {
        menuOpen: {
          type: Boolean,
          value: false
        }
      },
      toggleMenu: function() {
        this.set('menuOpen', !this.menuOpen);
        if(this.menuOpen) {
          this.$['menu-container'].classList.add("open");
          this.$['menu-container'].classList.remove("close");
          this.$['menu-screen'].classList.remove("uncover");
          this.$['menu-screen'].classList.add("cover");
        }
        else {
          this.$['menu-container'].classList.remove("open");
          this.$['menu-container'].classList.add("close");
          this.$['menu-screen'].classList.remove("cover");
          this.$['menu-screen'].classList.add("uncover");
        }
        this.$['menu-icon'].icon = this.menuOpen ? "icons:clear" : "icons:menu";
      }
    });
  </script>
</dom-module>
