body {
  font-family: "Helvetica Neue", "Helvetica", "Source Sans Pro", sans-serif;
  margin: 0;
  background-color: black;
  color: #EEE;
}

a {
  color: #366AE8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #8448FF;
}

h1 {
  font-size: 4.4em;
  font-weight: 100;
}

h2 {
  font-weight: 200;
  font-size: 2.1em;
}

h3 {
  font-weight: 300;
  font-size: 1.7em;
  text-transform: uppercase;
}

h4 {
  font-weight: 300;
  font-size: 1.5em;
}

p {
  font-size: 1.3em;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1 + *,
h2 + *,
h3 + *,
h4 + *,
p + * {
  margin-top: 1em;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 10%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, 10%, 0);
  }
}

.fadeOutDown {
  animation-name: fadeOutDown;
}

@media (max-width: 768px) {
  body {
    font-size: 75%;
  }

  p {
    font-size: 13 0%;
  }
}
